
.cards {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pageMain {
    background-color: lightgray;
  
  }